@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.charactercard {
    padding: 10px 10px 80px 10px;
    margin: 7px;
    height: 17vh;
    width: 40vh;
}

.charactercard-header-cover {
    filter: blur(1px);
    height: 120px;
}

.charactercard-header-upper-image {
    width: 60px;
    height: 60px;
    border-radius: 3px;
}

.charactercard-header-upper {
    background-color: rgba(0, 0, 0, 0);
    transform: translate(3%, -175%);
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-left: 20px;
    flex: 1 1 100%;
    min-width: 0;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

.charactercard-header-upper > div > ul {
    max-width: 300px;
}

.charactercard-header-upper-name {
    font-size: 17px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 175px;
}

.charactercard-header-upper-name > p {
    font-size: 11px;
    color: rgb(201, 201, 201);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.charactercard-button {
    border: solid 1px lightgray;
    font-size: 11px;
    font-weight: bold;
    color: #50abf5;
    background-color: white;
    padding: 12px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
}

.charactercard-slots > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.charactercard-slots > p > b {
    color: #50abf5;
}

.mynpc-button {
    font-size: 13px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 16px;
    border-radius: 3px;
    border: solid 2px #50abf5;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

.mynpcs-header > h1 {
    border-bottom: 3px solid #1b9af0;
    padding-bottom: 8px;
}