.container {
    margin: 40px;
}

.listing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
}

.column-container {
    border: 3px solid #fff;
}

.spanning-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 7px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}