#npcdActionsSpellsInvBlock {
    display: flex;
    padding: 10px;
}

#npcdAll {
    background-image: url("NPCDBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

#npcdAll div {
    margin: auto;
    border: 1px black solid;
}

#npcdCombatBlock {
    display: flex;
    padding: 10px;
}

#npcdHeader {
    display: flex;
    padding: 10px;
}

#npcdSkillBlock {
    display: flex;
    padding: 10px;
}

#npcdStatBlock {
    display: flex;
    padding: 10px;
}

#npcSheet {
    display: flex;
    padding: 10px;
    text-align: center;
}

.ability {
    padding: 0px 5px 0px 5px;
}

.choices {
    display: grid;
    padding: 10px;
    text-align: center;
}

.combatType {
    display: block;
    float: left;
    padding: 5px;
}

.defAndCond {
    display: flex;
    text-align: left;
}

.hitPointBlock {
    display: block;
    float: right;
    text-align: center;
}

.hpTypes {
    display: flex;
}

.hpTypes > div {
    padding: 0px 10px 0px 10px;
}

.npcImage {
    display: block;
    float: left;
    padding: 10px;
    text-align: center;
}

.npcTitleInfo {
    display: block;
    float: center;
    padding: 10px;
    text-align: left;
}

.languagesBlock {
    display: table-column-group;
    padding: 10px;
    text-align: center;
}

.savingThrowsBlock {
    display: table;
    padding: 10px;
    text-align: center;
}

.savingThrowsBlock > div {
    display: flex;
    padding: 0px 10px 0px 10px;
}

.sensesBlock {
    display: table-column-group;
    padding: 10px;
    text-align: center;
}

.sensesBlock > div {
    display: block;
    padding: 10px;
}

.skills {
    display: table-column-group;
    padding: 10px;
    text-align: center;
}

.subtitle {
    text-align: left;
}

hr {
    border: 5px solid maroon;
}