form > div {
    padding-top: 5%;
}

form > div > label {
    font-weight: bold;
}

form > div > select {
    float: right;
}

input:checked + .sliderRound:before {
    background-color: #c53131;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .sliderRound {
    background-color: #ebadad;
}

input:checked:after + sliderRound {
    background-color: #c53131;
}

input:focus + .sliderRound {
    box-shadow: 0 0 1px #ebadad;
}

select {
    border: 2px solid lightgrey;
    color: black;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px;
}

option {
    width: auto;
}

input{box-sizing:border-box} 

.charName {
    display: flex;
    margin-bottom: 5px;
}

.featSwitch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 17px;
}

.featSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.form {
    display: block;
    float: center;
    margin: auto;
    text-align: left;
    width: 45%;
}

.fSelectLabel {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.inputName {
    border: 2px solid lightgrey;
    flex: 1;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.loadSheet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.NPCRandomPage {
    background: url(https://media-waterdeep.cursecdn.com/attachments/1/614/builder1k.jpg);
    background-color: #FDFEF9;
    background-size: 100% auto;
    background-position: center 65px;
    background-repeat: no-repeat, repeat;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    height: 800px;
    text-align: left;
}

.requestButton {
    background-color: #50abf5;
    border: 10px solid #50abf5;
    color: white;
    border-radius: 5px;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}

.requestButton:hover {
    background-color: #0989f1;
    border: 10px solid #0989f1;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.sliderRound::after {
    background-color: red;
}

.sliderRound:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -4px;
    bottom: -4px;
    background-color: lightgray;
}

.sliderRound {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
}

.submitButton {
    text-align: center;
}

.title {
    text-align: center;
}