@font-face {
    font-family: Roboto-Bold;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2);
  }

.npcsheet-attributes {
    display: flex;
    
    text-align: center;
}

.npcsheet-attributes > p {
    margin: 5%;
}

.npcsheet-backgroundImage {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.npcsheet {
    display: flex;
    background: url(https://www.dndbeyond.com/content/1-0-1893-0/skins/waterdeep/images/mon-summary/stat-block-top-texture.png), url(https://www.dndbeyond.com/content/1-0-1893-0/skins/waterdeep/images/mon-summary/paper-texture.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat, repeat;
    box-shadow: 0 0 5px #979aa4;
    border: 1px solid #d4d0ce;
    padding: 15px;
    margin: 15px;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 16px;
}

.npcsheet-separator {
    margin-top: 15px;
    margin-bottom: 15px;
}

.npcsheet-header {
    font-weight: bolder;
    font-size: 48px;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    color: #822000;
}

.npcsheet-header-meta {
    font-size: 16px;
    color: black;
}

.npcsheet-attributes {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #822000;
    margin: auto;
}

.npcsheet-attributes > div {
    margin: auto;
}

.npcsheet-attributes > div > p > b {
    font-family: "Scala Sans Offc", Roboto-Bold, Helvetica, sans-serif;
}

.npcsheet-attributes > div > p > em {
    display: block;
    float: center;
}

.npcsheet-array {
    font-size: 16px;
    font-weight: bold;
    color: #822000;
}

.npcsheet-tidbits {
    font-size: 16px;
    font-weight: bold;
    color: #822000;
}

.tidbitmapping-para > b{
    font-family: "Scala Sans Offc", Roboto-Bold, Helvetica, sans-serif;
}

.npcsheet-statblock {
    display: inline-block;
}

.npcsheet-statblock-header {
    border-bottom: solid 1px #822000;
    font-weight: bold;
    font-size: 28px;
    color: #822000;
    line-height: 1.4;
}

.npcability {
    font-weight: bold;
    margin-right: 0px;
    text-align: center;
}

.npcability > div > b {
    font-family: "Scala Sans Offc", Roboto-Bold, Helvetica, sans-serif;
}

.npcability > em {
    float: center;
}

.npcability:hover {
    cursor: pointer;
    text-decoration: underline;
}

.npctidbit-type {
    font-family: "Scala Sans Offc", Roboto-Bold, Helvetica, sans-serif;
    margin-right: 5px;
}

.npctidbit {
    font-weight: bold;
    margin-right: 0px;
}

.npctidbit:hover {
    cursor: pointer;
    text-decoration: underline;
}

.npcitem-type {
    margin-right: 5px;
}

.npcitem {
    font-weight: bold;
    margin-right: 0px;
    color: black;
}

.npcitem:hover {
    cursor: pointer;
    text-decoration: underline;
}

.npc-sidebaritem {
    width: 30%;
}

.feat-text {
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-weight: bold;
}

.npcfeature > p > b {
    font-family: "Scala Sans Offc", Roboto-Bold, Helvetica, sans-serif;
}

.npcsheet-row {
    display: flex;
    align-items: top;
}

.npcsheet-columnsheet {
    max-width: 80%;
}

.npcsheet-left {
    border-right: solid 1px #9B2818;
    padding-right: 15px;
}

.npcsheet-right {
    border-left: solid 1px #9B2818;
    padding-left: 15px;
}

.npcsheet-columnsidebar {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 20%;
    max-width: 20%;
    text-align: center;
    position: relative;
    margin: 2vh;
}

.npcsheet-columnsidebar-itemholder {
    display: block;
    align-items: center;
    position: inherit;
    width: 100%;
    text-align: left;
}

.npcsheet-columnsidebar-collapse-button > button {
    background: #822000;
    color: white;
    border-radius: 16px;
    border: solid 3px #822000;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.8vh;
    margin-bottom: 10px;
    width: 100%;
}

.npcsheet-columnsidebar-item {
    background: #F8F2D3;
    color: black;
    border: solid 3px #822000;
    border-radius: 10px;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    letter-spacing: 1px;
    max-height: 350px;
    overflow-y: auto;
    max-width: inherit;
    padding: 2vh;
}

.npcsheet-columnsidebar-item::-webkit-scrollbar {
    border-radius: 15px;
    width: 10px;
}

/* Track */
.npcsheet-columnsidebar-item::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
.npcsheet-columnsidebar-item::-webkit-scrollbar-thumb {
    background: #822000;
    border-radius: 5px;
    height: auto;
}

.npcsheet-columnsidebar-item > b {
    font-family: "Scala Sans Offc", Roboto-Bold, Helvetica, sans-serif;
}

.npcsheet-columnsidebar-portrait>img {
    border: solid 3px #822000;
    border-radius: 15px;
}